<form (ngSubmit)="addEmployee(addForm)" #addForm="ngForm">
<fieldset>
    <legend>Add employee</legend>
    <div><input [(ngModel)]="newEmployee.EmployeeName" name ="EmployeeName" placeholder="Employee Name"></div>
    <div><input [(ngModel)]="newEmployee.Address" name ="Address" placeholder="Address"></div>
    <div><input [(ngModel)]="newEmployee.NIN" name ="NIN" placeholder="National Insurance No."></div>
    <div><input [(ngModel)]="newEmployee.IBAN" name ="IBAN" placeholder="IBAN No."></div>
    <div><input [(ngModel)]="newEmployee.BIC" name ="BIC" placeholder="BIC No."></div>
    <div><input [(ngModel)]="newEmployee.Salary" type ="number" name="Salary" placeholder="Salary"></div>
    <input type ="Submit">
</fieldset>
</form>