<form (ngSubmit)="addEmployee(addForm)" #addForm="ngForm">
<fieldset>
    <legend>Add employee</legend>
    <div><input [(ngModel)]="newEmployee.EmployeeName" name ="EmployeeName" placeholder="Employee Name" required companyName></div>
    <div><input [(ngModel)]="newEmployee.Address" name ="Address" placeholder="Address" required companyAddress></div>
    <div><input [(ngModel)]="newEmployee.NIN" name ="NIN" placeholder="National Insurance No." required 
        pattern="[a-zA-Z]{2}[0-9]{6}[abcdfmpABCDFMP]" ></div>
    <div><input [(ngModel)]="newEmployee.IBAN" name ="IBAN" placeholder="IBAN No." required 
        pattern="[A-Za-z]{2}[0-9]{2}[A-Za-z]{4}[0-9]{14}"></div>
    <div><input [(ngModel)]="newEmployee.BIC" name ="BIC" placeholder="BIC No." required 
        pattern="^[A-Za-z]{6}[0-9][0-9A-Za-z]"></div>
    <div><input [(ngModel)]="newEmployee.Salary"  name="Salary" placeholder="Salary" required pattern="^[0-9]{1,9}"></div>
    <input type="Submit">
</fieldset>
</form>
<div *ngIf="addForm.hasError('required', 'EmployeeName')">Employee name is required</div>
<div *ngIf="addForm.hasError('nametoolong', 'EmployeeName')">Employee name is too long. It can be up to 50 characters.</div>
<div *ngIf="addForm.hasError('required', 'Address')">Address is required.</div>
<div *ngIf="addForm.hasError('addresstoolong', 'Address')">Address is too long. It must be less than 100 characters.</div>
<div *ngIf="addForm.hasError('required', 'NIN')">National Insurance No is required.</div>
<div *ngIf="addForm.hasError('pattern', 'NIN')">National Insurance No is the wrong format. It should be 2 letters, 6 numbers and 1 letter.</div>
<!--<div *ngIf="addForm.hasError('ninUnique', 'NIN')">National Insurance not unique</div>-->
<div *ngIf="addForm.hasError('required', 'IBAN')">IBAN is required.</div>
<div *ngIf="addForm.hasError('pattern', 'IBAN')">IBAN is the wrong format. It should be 2 letters, 2 numbers
    4 letters and 14 numbers.
</div>
<div *ngIf="addForm.hasError('required', 'BIC')">BIC is required.</div>
<div *ngIf="addForm.hasError('pattern', 'BIC')">BIC is the wrong format. It should be 6 letters, 1 number then
    either a number or letter.><div>
<div *ngIf="addForm.hasError('required', 'Salary')">Salary is required.</div>
<div *ngIf="addForm.hasError('pattern', 'Salary')">Salary is not a valid amount. It must be positive and less
    than 10 figures.
</div>